html {
  font-size: 10px;
  background-color: #cfc8b0;
}

body,html {
  margin: auto;
  padding: 0;
  font-family: 'Almendra SC', Times New Roman, Times, serif;
}
h1{
  text-align: center;
  font-size: 30px;
  font-family: 'Almendra SC', Times New Roman, Times, serif;
  color: #330;
}
button{
  border: .4rem solid #330;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  width: 80%;
  text-align: center;
  color: yellow;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}
.fundo{
  background: url('./background.png') top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid #330;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: yellow;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ff66cc;
  box-shadow: 0 0 1rem #ff66cc;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ff66cc;
}
