body {
  margin: auto;
  padding: 0;
  font-family: 'Almendra SC', Times New Roman, Times, serif;
}
.chita {
  background-image: url("./assets/chita.jpg");
  background-repeat: repeat;
}
h1{
  text-align: center;
  font-size: 30px;
  font-family: 'Almendra SC', Times New Roman, Times, serif;
  color: #f6c;
}
h3{
  text-align: center;
  font-size: 20px;
  font-family: 'Almendra SC', Times New Roman, Times, serif;
}
.black {
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.4);
  border: 0px;
  color: goldenrod;
}
.transparent{
  background-color: rgba(0,0,0,0);
}
.keys {
  align-items: start;
  justify-content: center;
  font-family: 'Almendra SC', Times New Roman, Times, serif;
}

.key {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin: 5%;
  padding: 10px;
  transition: all .07s ease;
  width: auto;
  text-align: center;
  color: #330;
  background: #cfc8b0;
  font-family: 'Almendra SC', Times New Roman, Times, serif;
}

.playing {
  transform: scale(1.1);
  border-color:yellow;
  box-shadow: 0 0 1rem yellow;
}

kbd {
  font-size: 4rem;
  background-color: #330;
  color: yellow;
}

.sound {
  text-transform: uppercase;
  color: #330;
}
.a-yellow {
  color: yellow;
  text-decoration: none;
}
a.hover{
  color: #ff66cc;
}